{% extends 'sdbasemodel.html' %}

{% block title_block %}
    HeZhi: The Sesame Resource Database - Home
{% endblock %}

{% block header_block %}
    <div style="margin-top: 70px; text-align: center" class="col-sm-12">
        <h3>HeZhi: The Sesame Resource Database</h3>
    </div>
{% endblock %}

{% block content_block %}
    <div class='container'><div class='row'><div class="col-md-12">
        <div class="panel panel-default"><div class="panel-body">
            <h3>Backend Exception</h3>
            <div style="text-align: left">
                <p>When our <strong>server backend raises an exception event</strong>, this page will appear. This could be caused by a possible system bug.<br></p>
                <p>If you believed this is caused by a system BUG, it is kindly requested that you let us know your usage information so that we can address the bug quickly!<br></p>

                <br>
                <p>--ERROR DETAIL--<br></p>
                <h4 style="color: darkred"><strong>{{ error_message }}</strong></h4>
                <p>{{ error_description }}</p>
                <br>
                <br>
                <p>We're here to help if you have any questions or concerns!</p>
                <a class="btn btn-primary" href="mailto:edwardmashed@gmail.com">Report a potential bug to us (e-mail)</a>
                <a class="btn btn-default" href={% url 'sd_home_page' %}>Back to home page</a>
            </div>
        </div></div>
    </div></div></div>
{% endblock %}

{% block javascript_block %}
{% endblock %}