{% extends 'sdbasemodel.html' %}

{% block title_block %}
    HeZhi: The Sesame Resource Database - Home
{% endblock %}

{% block header_block %}
    <div style="margin-top: 70px; text-align: left" class="col-sm-12">
        <h2 style="font-family: Georgia,serif">HeZhi: The Sesame Resource Database</h2>
        <h4 style="font-family: Georgia,serif">Home</h4>
    </div>
{% endblock %}

{% block content_block %}
    <div class='container'><div class='row'><div class="col-md-12">
        <div class="panel panel-default"><div class="panel-body">
            <h4>Welcome to the HeZhi sesame information resource database!</h4>
            <p>The database comprises three main sections.</p>
        </div></div>
    </div></div></div>
{% endblock %}

{% block javascript_block %}
{% endblock %}