{% extends 'basemodel.html' %}

{% block title_block %}
    TE Insertion Location Search - HEMU
{% endblock %}

{% block header_block %}
    {% load static %}
    <div class="col-sm-2">
        <div style="margin-top: 10px; margin-left: -5px">
            <img src="{% static "AllPageStatic/HEMU_logo_crop.png" %}" class="img-responsive" alt="Responsive image" style="width: 72px; height: 104px">
        </div>
    </div>
    <div class="col-sm-10">
        <h2 style="margin-top: 20px; margin-left: -70px">TE Insertion Location</h2>
        <p style="color: #8e8e8e; margin-left: -65px">Search TE insertion in certain region or flanking specific genes
            <br>based on TE annotation</p>
    </div>
{% endblock %}

{% block content_block %}
    {% load static %}
    <div class="container"><div class='row'><div class="col-md-12">
        <!--Error Message-->
        <p class="bg-danger" style="text-align: center"><b style="color: white">{{ error_message }}</b></p>

        <!--Notification panel for submitted task-->
        <div class="alert alert-success alert-dismissible" role="alert" style="display: none" id="div_main_notif">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>TASK STATUS UPDATE:</strong> Task has been successfully submitted to the server backend, please wait and <strong>avoid repeated submission</strong>.
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">TE analysis toolkit: <strong>TE Insertion Location Search</strong></div>
            <div class="panel-body">
                <br>
                <form method="post" id="sequence_query_mainform" style="text-align: center">
                    {% csrf_token %}
                    <div class="col-sm-6">
                        <label for="query_species_id">Select species dataset</label>
                        <select class="form-control" name="query_species" id="query_species_id" style="height: 45px">
                            <option value="zea" selected>Zea mays B73v4 (GCF_000005005.2)</option>
                            <option value="sorghum">Sorghum bicolor BTx623 (GCF_000003195.3)</option>
                            <option value="coix">Coix lacryma-jobi var.lacryma-jobi (GCA_009763385.1)</option>
                            <option value="saccharum">Saccharum spontaneum (GCA_003544955.1)</option>
                            <option value="miscanthus">Miscanthus lutarioriparius (GCA_904845875.1)</option>
                        </select>
                        <br>
                    </div>
                    <div class="col-sm-6">
                        <label for="query_flanking_length_id">Select flanking region length for search (bp, ±)</label>
                        <select class="form-control" name="query_flanking_length" id="query_flanking_length_id" style="height: 45px">
                            <option value="0">0 Kbp (genic region only)</option>
                            <option value="1000" selected>1.0 Kbp (default)</option>
                            <option value="1500">1.5 Kbp</option>
                            <option value="2000">2.0 Kbp</option>
                            <option value="2500">2.5 Kbp</option>
                            <option value="3000">3.0 Kbp</option>
                            <option value="5000">5.0 Kbp</option>
                            <option value="10000">10.0 Kbp</option>
                        </select>
                        <br>
                    </div>
                    <br><br>
                    <label for="gene_query_id">Query flanking TE insertions by <b style="color: darkred;">gene ID</b> &nbsp;
                        <a href="javascript:exampleListGene()">
                            <span class="glyphicon glyphicon-bookmark"></span>
                            Show Example
                        </a>
                    </label>
                    <div class="input-group" style="margin: 0 100px;">
                        <span class="input-group-addon"><b>Gene ID</b></span>
                        <input type="text" name="gene_query" id="gene_query_id" class="form-control" placeholder="separate multiple samples with ' ; '" size="50px 30px">
                    </div>
                    <br>
                    <p><i>--&nbsp;or&nbsp;--</i></p>
                    <label for="range_query_id">Query flanking TE insertions by <b style="color: darkred;">sequence region range</b> &nbsp;
                        <a href="javascript:exampleListPeak()">
                            <span class="glyphicon glyphicon-bookmark"></span>
                            Show Example
                        </a>
                    </label>
                    <div class="input-group" style="margin: 0 100px;">
                        <span class="input-group-addon"><b>Sequence & Range</b></span>
                        <input type="text" name="range_query" id="range_query_id" class="form-control" placeholder="[Seq]:[start]..[end]" size="50px 30px">
                    </div>
                    <br>
                    <button id="submit_form" class="btn btn-primary" style="height: 45px">
                        <span class="glyphicon glyphicon-hourglass"></span>
                        Search Relative TEs
                    </button>
                    <br>
                </form>
            </div>
        </div>
        <!--Pre-hidden loading animation-->
        <div id="div_main_loader" class="loader" style="display: none"></div>
    </div></div></div>

     <!--Content table - genes-->
    <div class='container' id="gene_table_div" style="display: none"><div class='row'><div class="col-md-12">
        <br>
        <table class="table table-hover">
            <caption><h3>Gene information</h3></caption>
            <thead>
                <tr>
                    <th>geneid</th>
                    <th>seqid</th>
                    <th>ontology</th>
                    <th>start</th>
                    <th>end</th>
                    <th>score</th>
                    <th>strand</th>
                    <th>phase</th>
                    <th>attributes</th>
                </tr>
            </thead>
            <tbody>

            {% for indv_query in gene_list_full %}
                <tr>
                <td>{{ indv_query.0 }}</td><!--gene ID-->
                <td>{{ indv_query.1 }}</td><!--seq ID-->
                <td>{{ indv_query.3 }}</td><!--ontology-->
                <td>{{ indv_query.4 }}</td><!--start-->
                <td>{{ indv_query.5 }}</td><!--end-->
                <td style="word-wrap:break-word;word-break:break-all;">{{ indv_query.6 }}</td>
                <td style="word-wrap:break-word;word-break:break-all;">{{ indv_query.7 }}</td>
                <td style="word-wrap:break-word;word-break:break-all;">{{ indv_query.8 }}</td>
                <td style="word-wrap:break-word;word-break:break-all;">{{ indv_query.9 }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div></div></div>
    <!--Content table - peaks-->
    <div class='container' id="peak_table_div" style="display: none"><div class='row'><div class="col-md-12">
        <br>
        <table class="table table-hover">
            <caption><h3>TE insertion information</h3>(Shown in individual TEs)</caption>
            <thead>
                <tr>
                    <th>TE family</th>
                    <th>seqid</th>
                    <th>TE classification</th>
                    <th>start</th>
                    <th>end</th>
                    <th>score</th>
                    <th>strand</th>
                    <th>phase</th>
                    <th>attributes</th>
                </tr>
            </thead>
            <tbody>

            <!--["te_id", "seqid", "ontology", "start", "end", "score", "strand", "phase", "attributes"]-->
            {% for indv_query in peak_list_full %}
                <tr>
                <td>{{ indv_query.0 }}</td><!--family ID-->
                <td>{{ indv_query.1 }}</td><!--sequence ID-->
                <td>{{ indv_query.3 }}</td><!--classification-->
                <td>{{ indv_query.4 }}</td><!--start-->
                <td>{{ indv_query.5 }}</td><!--end-->
                <td style="word-wrap:break-word;word-break:break-all;">{{ indv_query.6 }}</td>
                <td style="word-wrap:break-word;word-break:break-all;">{{ indv_query.7 }}</td>
                <td style="word-wrap:break-word;word-break:break-all;">{{ indv_query.8 }}</td>
                <td style="word-wrap:break-word;word-break:break-all;">{{ indv_query.9 }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div></div></div>

    <!--Store pending task-ids awaiting AJAX validation-->
    <div id="div_task_id" hidden>{{ task_id }}</div>
    <!--Control display of the output table-->
    <div id="div_show_genetable_id" hidden>{{ flag_showgenetable }}</div>
    <div id="div_show_peaktable_id" hidden>{{ flag_showpeaktable }}</div>
{% endblock %}

{% block footer_script_block %}
    <script>
    // Set up django CSRF verification mechanism
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Set up django CSRF verification mechanism
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // Set up AJAX
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            const csrftoken = getCookie('csrftoken');
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    })

    // Evaluate if a pending task is to be submitted
    var task_id_global = undefined

    // Fill example data
    function exampleListGene() {
        const species = $("#query_species_id option:selected").val();
        switch (species) {
            case 'zea':
                document.getElementById("range_query_id").value="";
                document.getElementById("gene_query_id").value="Zm00001d023520";
                break;
            case 'sorghum':
                document.getElementById("range_query_id").value="";
                document.getElementById("gene_query_id").value="SORBI_3004G336700";
                break;
        }
    }
    function exampleListPeak() {
        const species = $("#query_species_id option:selected").val();
        switch (species) {
            case 'zea':
                document.getElementById("gene_query_id").value="";
                document.getElementById("range_query_id").value="chr1:160000..200000";
                break;
        }
    }

    // Preview CSV table
    function previewCSV(path_to_CSV){
        Papa.parse(path_to_CSV, {
            download: true,
            complete: function(results) {
                Heiho(results.data);
            }
        });
    }

    $(window).on('load', function (){
        var loader_div = document.getElementById('div_main_loader')
        var notif_panel_div = document.getElementById('div_main_notif')

        // control display fo tables
        var gene_table_div = document.getElementById('gene_table_div')
        var peak_table_div = document.getElementById('peak_table_div')

        var taskId = $("#div_task_id").html()
        if(taskId == null || taskId.length === 0){
            // no task pending
        }else {
            // task executing
            // console.log("Task " + taskId)
            task_id_global = taskId
            loader_div.style.display = 'block'
            notif_panel_div.style.display = 'block'
            document.getElementById("submit_form").disabled=true // disable form submission
            loop_get_taskstatus()
        }

        var isDisplayGeneTable = $("#div_show_genetable_id").html()
        var isDisplayPeakTable = $("#div_show_peaktable_id").html()

        if(isDisplayGeneTable == null || isDisplayGeneTable.length === 0){
            // do not display table
        }else {
            // results present, display table
            gene_table_div.style.display = 'block'
        }
        if(isDisplayPeakTable == null || isDisplayPeakTable.length === 0){
            // do not display table
        }else {
            // results present, display table
            peak_table_div.style.display = 'block'
        }
    })

    function loop_get_taskstatus() {
        var taskId = task_id_global
        //Send GET AJAX request every 2 seconds, querying for task status
        setTimeout(loop_get_taskstatus,2*1000)

        $.ajax({
            url: '{% url 'async_progress_query' %}?taskid=' + taskId,
            type: 'get',
            dataType: 'json',
            success: function (json_data) {
                var taskResult = eval(json_data)
                var taskStatus = taskResult['state']
                console.log(taskStatus)

                if(taskStatus === 'SUCCESS') {
                    location.href='{% url 'te_location' %}?success=1&taskid=' + taskId
                }
                if(taskStatus === 'FAILURE') {
                    location.href='{% url 'te_location' %}?success=0&taskid=' + taskId
                }
            }
        })
    }
    </script>
{% endblock %}